.tweet-container {
    background-color: #ffffff;
    border: 1px solid #e1e8ed;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    gap: 30px;
  }
  .OptionsWrapper{
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .tweet-author-thumbnail {
    --thumbnail-size: 48px;
  
    border-radius: var(--thumbnail-size);
    height: var(--thumbnail-size);
    width: var(--thumbnail-size);
  }
  
  .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-color: #1da1f2;
    border-radius: 50%;
    margin-right: 5px;
  }
  
//   .icon-picture {
//     background-image: url('path/to/picture-icon.png');
//     /* Add other styles for the picture icon */
//   }
  
//   .icon-gif {
//     background-image: url('path/to/gif-icon.png');
//     /* Add other styles for the GIF icon */
//   }
  
//   .icon-poll {
//     background-image: url('../../Assets/Images/poll.png');
//     object-fit: contain;
//     width: 64px;
//     height: 64px;
//     /* Add other styles for the poll icon */
//   }
  
//   .icon-emoji {
//     background-image: url('path/to/emoji-icon.png');
//     /* Add other styles for the emoji icon */
//   }
  
  .body {
    position: relative;
  }
  
  .uploaded-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  
  .tweet-textarea {
    width: 100%;
    min-height: 80px;
    border: 1px solid #e1e8ed;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 14px;
  }
  
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .upload-input {
    display: none;
  }
  
  .post-button {
    background-color: #33a0e4;
    color: #ffffff;
    border-radius: 5px;
    padding: 8px 32px;
    cursor: pointer;
    border-style: none;
    &:hover{
      background-color: #1184cc;
    }
  }
  .subscribe-button {
    background-color: hsl(36, 76%, 64%);
    color: #ffffff;
    border: none;
    border-radius: 20px;
    padding: 8px 16px;   
    cursor: pointer;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
  }
  @media only screen and (min-width: 320px) and (max-width: 1000px)
{
  .OptionsWrapper{
    flex-direction: column;
  }
  .header {
    align-self: flex-start;
  }
  .footer{
    align-self: flex-end;
  }
}